<!--Here is what is going to go on the main view page:
    Welcome message
    Three radio boxes
    1. price
    2. location
    3. keywords
    -->

<h1>Hello and Welcome to the Skeecth FUN TIME Generator!</h1>
<h2>This is all loren ipsum for now. Real content coming soon! Check out our amazing forms below! The time for making this all look beautiful will come later.</h2>
<br />
<br />

<div>
    <form action="/XX/YY/" method="post">
        How much do I want to spend:

        <div>
            <input type="radio" name="[price]" value="[value for one dollar]" checked> Price $<br>
            <input type="radio" name="[price]" value="[value for two dollars]"> Price $$<br>
            <input type="radio" name="[price]" value="[value for three dollars]"> Price $$$<br>
            <input type="radio" name="[price]" value="[value for four dollars]"> Price $$$$<br>

        </div><br />
        <div>
            Where do I want to go?<br>

            City:
            <input type="text" name="City"><br>
            State:
            <input type="text" name="State">

        </div><br />
        <div>

            How adventurous am I?<br />


            <input type="radio" name="[adventure]" value="[adventure1]" checked>Nope. I’m boring
            <br>
            <input type="radio" name="[adventure]" value="[adventure2]">Push me a little<br>
            <input type="radio" name="[adventure]" value="[adventure3]">Let's DO THIS!<br>
            <input type="radio" name="[adventure]" value="[adventure4]">I make bad life decisions<br>

        </div><br />
        <div>
            What am I looking for?


            <label class="container">
                1
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                2
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                3
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                4
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                5
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                6
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                7
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                8
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                9
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                10
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                11
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                12
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                13
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                14
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                15
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                16
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                17
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                18
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                19
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                20
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>

        </div>


        <input type="submit" name="btn-group" value="Roll the dice!" /><br />
    </form>


</div>
